// normalize
$include-open-sans: false;
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;
$fa-font-path: "/bower/font-awesome/fonts";
@import "normalize";
@import "foundation";
@import "font-awesome";

.debug {
  display: none;
  position: fixed;
  bottom: 7px;
  right: 23px;
  font-size: 80%;
}

/* app */

#view-container {
  display: none;
}

/* Fonts */

@font-face {font-family: 'NovecentoSans';font-weight: bold;font-style: normal;src: url('/fonts/novecentosans/2A556A_0_0.eot');src: url('/fonts/novecentosans/2A556A_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/novecentosans/2A556A_0_0.woff') format('woff'),url('/fonts/novecentosans/2A556A_0_0.ttf') format('truetype'),url('/fonts/novecentosans/2A556A_0_0.svg#wf') format('svg');}
@font-face {font-family: 'Novecentosanswide-Book';src: url('/fonts/novecentosans/2A556A_1_0.eot');src: url('/fonts/novecentosans/2A556A_1_0.eot?#iefix') format('embedded-opentype'),url('/fonts/novecentosans/2A556A_1_0.woff') format('woff'),url('/fonts/novecentosans/2A556A_1_0.ttf') format('truetype'),url('/fonts/novecentosans/2A556A_1_0.svg#wf') format('svg');}
@font-face {font-family: 'Novecentosanswide-DemiBold';src: url('/fonts/novecentosans/2A556A_2_0.eot');src: url('/fonts/novecentosans/2A556A_2_0.eot?#iefix') format('embedded-opentype'),url('/fonts/novecentosans/2A556A_2_0.woff') format('woff'),url('/fonts/novecentosans/2A556A_2_0.ttf') format('truetype'),url('/fonts/novecentosans/2A556A_2_0.svg#wf') format('svg');}
@font-face {font-family: 'Novecentosanswide-Light';src: url('/fonts/novecentosans/2A556A_3_0.eot');src: url('/fonts/novecentosans/2A556A_3_0.eot?#iefix') format('embedded-opentype'),url('/fonts/novecentosans/2A556A_3_0.woff') format('woff'),url('/fonts/novecentosans/2A556A_3_0.ttf') format('truetype'),url('/fonts/novecentosans/2A556A_3_0.svg#wf') format('svg');}
@font-face {font-family: 'NovecentoSans';font-weight: normal;font-style: normal;src: url('/fonts/novecentosans/2A556A_4_0.eot');src: url('/fonts/novecentosans/2A556A_4_0.eot?#iefix') format('embedded-opentype'),url('/fonts/novecentosans/2A556A_4_0.woff') format('woff'),url('/fonts/novecentosans/2A556A_4_0.ttf') format('truetype'),url('/fonts/novecentosans/2A556A_4_0.svg#wf') format('svg');}
@font-face {font-family: 'Novecentosanswide-Normal';src: url('/fonts/novecentosans/2A556A_5_0.eot');src: url('/fonts/novecentosans/2A556A_5_0.eot?#iefix') format('embedded-opentype'),url('/fonts/novecentosans/2A556A_5_0.woff') format('woff'),url('/fonts/novecentosans/2A556A_5_0.ttf') format('truetype'),url('/fonts/novecentosans/2A556A_5_0.svg#wf') format('svg');}

/* Layout style */

body {
  background: #555;
  color: white;
}

#main-wrapper {
  width: 100%;
}

.row {
  max-width: 90%;
}

.panel {
  background-color: #dfdddd;
}

/* Type */

body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'NovecentoSans';
  font-weight: normal;
  color: white;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6875em;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1em;
}

a {
  color: #888;
}

#view-container > p {
  margin: 1em 15%;
}

#view-container > hr {
  margin: 3em 15%;
}

#view-container > p:first-child,
#view-container > div > ul:first-child,
#view-container > div#single-video {
  margin-top: 4.5em;
}

ul {
  list-style-type: none;
  margin: 0;
}

strong {
  font-weight: 600;
}

/* Menu and heading */

[role="complementary"] nav {
  margin: 0;
  font-family: 'NovecentoSans';
  font-weight: normal;

  li {
    a {
      color: #fff;
      &.active,
      &:hover {
        color: #7C8EAA;
      }
    }
  }

  .friendly-cats {
    margin-top: 2em;
    font-size: .8em;
    a:after {
      content: ', ';
    }
    a:last-child:after {
      content: '';
    }
  }

}

.nav-bar li ul {
  margin: 1.5em 0;
}

.nav-bar > li > ul > li {
  padding: 0.5em;
  line-height: 1em;
}

/* Videos */

.vid-thumbs {
  margin: 0 0 1.4em 0;
  text-align: center;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.vimeo-video {
  position: relative;
  padding-bottom: 53%; /* not quite 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Video */

#single-video-info-box {
  margin: 1em 0 0 0;
  border: none;
  position: relative;
}

#single-video-info-box-text > h2 {
  font-size: 1em;
  font-weight: bold;
}

.copylink {
  float: right;
  position: relative;
  margin: 0 0 0 .7em;
  padding: 0;
  background: transparent;
  color: #333333;
  &:hover,
  &:active,
  &:focus,
  &.zeroclipboard-is-hover {
    color: #333333;
    background: transparent;
    text-shadow: #aaa -1px -1px;
    outline: none;
  }
  span {
    display: none;
    position: absolute;
    top: 2em;
    right: 0;
    width: 20em;
    text-transform: uppercase;
    font-size: 10px;
    text-align: right;
  }
}


/* Media queries */

@media #{$small-only} {
  [role="complementary"] {
    margin-top: 1.3em;
  }
}

@media #{$small-up} {

  .toggle-menu {
    text-align: center;
  }

  #view-container {
    margin-top: 1.5em;
  }

  #main-wrapper > .row {
    margin: 0 auto 0 0;
  }

  .row {
    overflow: hidden;
  }

  .row .row {
    overflow: visible;
    margin: 0;
  }

  [role="main"]:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
  }

  [role="complementary"],
  [role="main"] {
    width: 100%;
    padding: 2em 15px 0;
    display: block;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.25s all ease-in;
    -moz-transition: 0.25s all ease-in;
    -o-transition: 0.25s all ease-in;
    transition: 0.25s all ease-in;
  }

  [role="complementary"] {
    margin-left: -100%;
    width: 80%;
    float: left;
    z-index: 2;
    display: none;
  }

  :not(.active) [role="complementary"] {
    display: block;
  }

  [role="main"] {
    margin-left: 0;
    padding-right: 0;
    float: right;
    z-index: 1;
    position: relative;
  }

  .active [role="complementary"] {
    margin-left: 0;
  }

  .active [role="main"] {
    margin-right: -80%;
  }

}


@media #{$large-up} {

  #view-container {
    margin: 0;
  }

  [role="complementary"] {
    width: 35%;
    margin-left: 0;
    float: left;
  }

  [role="main"] {
    width: 65%;
    padding: 0 0 0 15px;
  }

  .friendly-cats {
    position: fixed;
    bottom: 0;
  }

}

.threed {
  overflow: hidden;


  .row {
    max-width: 100%;
  }
}
