// normalize
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;
@import "normalize";
@import "foundation";
@import "font-awesome";

.debug {
  position: fixed;
  bottom: 7px;
  right: 23px;
  font-size: 80%;
}



/* ------------------------------
- - - - - - - - - - - - - - - - - 
CUSTOM STYLING by ANTONIO: BEGIN!
- - - - - - - - - - - - - - - - - 
------------------------------ */


body {
  background: #f8f7f5;
  color: #90938b;
}

.row {
	max-width: 1200px;
}

.panel {
	background-color: #dfdddd;
}

#view-container {
	margin-top: 1.5rem;
}

/* ------------------------------

t y p o g r a p h y

------------------------------ */

body { font-family: 'Raleway', sans-serif; }

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter; }

h1 {
  font-size: 2.125rem; }

h2 {
  font-size: 1.6875rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 1rem; }
  
ul {
	list-style-type: none;
}

strong {
	font-weight: 600;
}

.side-nav { font-family: 'Raleway', sans-serif; }

/* ------------------------------

n a v    m e n u

------------------------------ */

nav {
	margin: 2rem 0 0 0;
}

.side-nav li {
	line-height: 2.5rem;
}

.side-nav li {
	font-size: 2.125rem;
	font-weight: 300;
}




/* ------------------------------

v i d e o s

------------------------------ */


.vid-thumbs {
	margin: 0 0 1rem 0;
}

.vimeo-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



/* ------------------------------

s i n g l e    v i d e o

------------------------------ */


#single-video-info-box {
	margin: 1rem 0 0 0;
	border: none;
	position: relative;
}

#single-video-info-box-text {
	border-right: 2px solid #bbb;
}

#single-video-info-box-text > h2 {
	font-size: 1rem;
	font-weight: bold;
}

#social-links {
	margin-top: 2rem;
}


#social-links li {
	letter-spacing: .05rem;
	margin-bottom: .5rem;
}

.social-icons {
	margin-right: 1rem;
}


/* ------------------------------

m e d i a    q u e r i e s

------------------------------ */


@media #{$small-up} {

	#header {
		text-align: center;
		margin-bottom: 2rem;
	}

	.side-nav li, .side-nav li a {
		display: inline
	}
	
	.side-nav li:nth-child(-n + 2) {
		margin: 0 1rem 0 0;
		padding: 0 1rem 0 0;
		border-right: 1px solid #bbb;
	}

}

@media #{$large-up} {

	#header {
		text-align: left;
	}

	.side-nav li, .side-nav li a{
		display: block;
	}
	
	.side-nav li:nth-child(-n + 2) {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		border-right: none;
	}


}


/* ------------------------------
- - - - - - - - - - - - - - - - - 
CUSTOM STYLING by ANTONIO: END!
- - - - - - - - - - - - - - - - - 
------------------------------ */
