<div class="row">
	
	<div class="small-12 large-4 columns">

		<h1>Oren Goldenberg</h1>

		<nav>

			<ul>

				<li><a href="/videos">work</a></li>
		
				<li><a href="#">about</a></li>
		
				<li><a href="#">contact</a></li>

			</ul>

		</nav>

	</div><!-- heading and nav -->

</div>

<div class="debug">Rendered {{renderer}}-side.</div>
