<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oren Goldenberg</title>
    <link href="/index.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,700,600' rel='stylesheet' type='text/css'>
    <script src="/bower/foundation/js/vendor/custom.modernizr.js"></script>
  </head>
<body>
<div id="main-wrapper">
  <a data-pass-thru="true" class="toggle-menu">
    <h1>OREN GOLDENBERG</h1>
    <h2><i class="fa fa-bars"></i></h2>
  </a>
  <div class="row">
    <section role="main">
      <div class="row">
        <div id="view-container">
          {{{body}}}
        </div>
      </div>
    </section>
    <section role="complementary">
      <nav role="navigation">
        <ul class="nav-bar">
          <li><a href="/videos">WORK</a>
            <ul>
              {{#each tags}}
                <li><a href="/videos-tagged/{{this}}">{{decode this}}</a></li>
              {{/each}}
            </ul>
          </li>
          <li><a href="/pages/about">ABOUT</a></li>
          <li><a href="/pages/contact">CONTACT</a></li>
        </ul>
      </nav>
    </section>
  </div><!-- ROW for main-nav and vid content -->
</div><!-- wrapper -->
<script>
window.bootstrappedData = {{{bootstrappedData}}};
</script>
<script src="/bower/foundation/js/vendor/jquery.js"></script>
<script src="/scripts.js"></script>
<script>
  $(document).ready(function() {
    $('.toggle-menu').on('click', function(e) {
      e.preventDefault();
      $('body').toggleClass('active');
    });
    $('a:not(.toggle-menu)').on('click', function(e) {
      $('body').removeClass('active');
    });
  });
</script>
</body>
</html>
