<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Oren Goldenberg</title>
		<link href="/index.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,700,600' rel='stylesheet' type='text/css'>
	</head>
<body>


<div id="main-wrapper" class="row">
	
	<div id="header" class="small-12 large-4 columns">

		<h1>OREN GOLDENBERG</h1>

		<nav>

			<ul class="side-nav">

				<li><a href="/videos">WORK</a></li>
		
				<li><a href="#">ABOUT</a></li>
		
				<li><a href="#">CONTACT</a></li>

			</ul>

		</nav>

	</div><!-- heading and nav -->
	
	<div class="container" id="view-container">



	{{{body}}}

	</div>

</div>


<script>
window.bootstrappedData = {{{bootstrappedData}}};
</script>
<script src="/scripts.js"></script>
</body>
</html>
