
	<div id="single-video" class="small-12 large-8 columns">

		<iframe src="//player.vimeo.com/video/{{id}}" width="100%" 
			height="360px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
		</iframe>

		<div id="single-video-info-box" class="row panel">
		
			<div id="single-video-info-box-text" class="small-12 large-8 columns">
		
				<h2>{{title}}</h2>
			
				<!-- 
			
				Currently no description for most videos. 
				If no description, #unless code will display placeholder text.
			
				Using a description may be a flaw in the design?
				Talk to Oren about using descriptions.
			
				-->
				
				<p>{{description}}</p>
			
				{{#unless description}}
				
					<p>Lorem ipsum dolor sit amet, omnis partem qui id, summo vituperata vis id. Meis suscipit delectus sed et, urbanitas complectitur concludaturque duo ne.</p> 
			
				{{/unless}}
			
				
		
			</div><!-- single-video-info-text -->
		
			<div id="single-video-info-links" class="small-12 large-4 columns">
		
				<ul>
			
					<li><a href="#">SEND A MESSAGE</a></li>
				
					<li><a href="#">SHARE VIDEO</a></li>
			
				</ul>
		
			</div><!-- single-video-info-links -->
		
		
		</div><!-- single-video-info -->
	
	</div><!-- single-video -->



<div class="debug">Rendered {{renderer}}-side</div>