<h1>Work</h1>

<ul>

    {{#each videos}}

		<li>
		
			<img src="{{thumbnail_medium}}" alt="Video Thumbnail Large" />
			
			<a href="/videos/{{id}}">{{title}}</a>
			
		</li>

    {{/each}}

</ul>

<div class="debug">Rendered {{renderer}}-side</div>
